
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
    --primary-color: rgb(21, 110, 138);
}
*{
    box-sizing: border-box;
    outline: 0;
    
}

body {
    margin: 0;
    padding: 0;

    width: 100%;
    background: url('https://images.unsplash.com/photo-1541167760496-1628856ab772?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1037&q=80');
    height: 100%;
    
    background-repeat: no-repeat;
    background-size: cover;
    
    font-family: 'Lato', sans-serif;

    font-size: 1.3em;
    line-height: 1.5em;
}



.container {
    text-align: center;
    max-width: 640px;
    margin: 50px auto;
    color: wheat;
    padding: 20px;
    background: linear-gradient(#00000080,#00000080 100%);
    border-radius: 5px;
}

.form input, .form label, .form button{
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

.form input:focus {
    outline: 1px solid var(--primary-color);
}
.form button{
    padding: 20px;
    background-color: rgb(17, 109, 151);
    border: none;
    border-radius: 5px;
    color: #fff;

    font-size: 18px;
    font-weight: 700;

    cursor: pointer;
    transition: 300ms;

    margin-top: 20px;
}
.form button:hover{
    color: black;
    background-color: rgb(32, 192, 131);
}

.btn-task:active {
    
    transform: scale(0.95);
}
.tasks {
    display: flex;
    flex-direction: column-reverse;
}
li{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    
}

.deletar{
    
    margin-left: 30px;
    padding: 8px;
    background-color: #e41111;
    border: none;
    border-radius: 5px;
    color: #fff;

    font-size: 18px;
    font-weight: 700;
    transition: 0.5ms;

    cursor: pointer;
    transition: 300ms;
}

.deletar:hover{
    background-color: #ec3131;
}
